@model GameViewModel

@{
    ViewData["Title"] = "Edit game";
}

<form asp-controller="Game" asp-action="HandleEditRequest" asp-route-id="@Model.ActiveGame.GameId" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="ActiveGame.GameDateTime">Game Date & Time:</label>
        <input type="datetime" asp-for="ActiveGame.GameDateTime" class="form-control" value="@Model.ActiveGame.GameDateTime.ToString("d")" />
    </div>

	<div class="form-group">
		<label asp-for="ActiveGame.Teams.First()">Team 1</label>
		<select asp-for="ActiveGame.Teams.First()" class="form-control">
			<option value="">Select a team..</option>
			@foreach (Team t in Model.Teams)
			{
				<option value="@t.TeamId">@t.Name</option>
			}
		</select>
	</div>

	<div class="form-group">
		<label asp-for="ActiveGame.Teams.Last()">Team 2</label>
		<select asp-for="ActiveGame.Teams.Last()" class="form-control">
			<option value="">Select a team..</option>
			@foreach (Team t in Model.Teams)
			{
				<option value="@t.TeamId">@t.Name</option>
			}
		</select>
	</div>

    <input type="hidden" asp-for="ActiveGame.GameId" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Tournament" asp-action="GetManageForm" asp-route-id="@Model.ActiveGame.TournamentId" class="btn btn-secondary">Cancel</a>
</form>