@model GameViewModel

@{
    ViewData["Title"] = "Edit game";

    var team1 = Model.ActiveGame.Teams.Count > 0 ? Model.ActiveGame.Teams.First().Name : "TBD";
    var team2 = Model.ActiveGame.Teams.Count > 1 ? Model.ActiveGame.Teams.Last().Name : "TBD";
    var scores = Model.ActiveGame.Result.Split('-');
    var team1Score = scores.Count() > 0 ? scores[0] : "0";
    var team2Score = scores.Count() > 1 ? scores[1] : "0";
}

<form asp-controller="Game" asp-action="HandleEditRequest" asp-route-id="@Model.ActiveGame.GameId" method="post" enctype="application/x-www-form-urlencoded">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="ActiveGame.GameDateTime">Game Date & Time:</label>
        <input type="datetime" asp-for="ActiveGame.GameDateTime" class="form-control" value="@Model.ActiveGame.GameDateTime.ToString("d")" />
    </div>

    <div class="form-group">
        <label asp-for="@team1">Team 1 Name:</label>
        <input type="text" asp-for="ActiveGame.Teams.First().Name" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="ActiveGame.Result">Team 1 Score:</label>
        <input type="number" asp-for="@team1Score" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@team2">Team 2 Name:</label>
        <input type="text" asp-for="ActiveGame.Teams.Last().Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ActiveGame.Result">Team 2 Score:</label>
        <input type="number" asp-for="@team2Score" class="form-control" />
    </div>

    <input type="hidden" asp-for="ActiveGame.GameId" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-controller="Tournament" asp-action="GetManageForm" asp-route-id="@Model.ActiveGame.TournamentId" class="btn btn-secondary">Cancel</a>
</form>